@using Microsoft.Extensions.Configuration
@using PS1_MIC_090_Core.Services
@inject IConfiguration Configuration
@inject AppService AppService


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Company Name</title>
    @await Html.PartialAsync("_Styles.cshtml")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @await Component.InvokeAsync("Navigation");
    @* @await Component.InvokeAsync("Navigation", new { page = 3 }) *@

    <div class="container">
        <main role="main" class="pb-3">

          @*  con- @Configuration["IsProduction"]
           appser= @AppService.isProduction *@
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_Footer.cshtml")
    @await Html.PartialAsync("_Scripts.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
