@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "ConfirmationScreen";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<section>

    <div class="row">
        <div class="col col-12">
            <h2>ConfirmationScreen</h2>
        </div>
    </div>

    <div class="row position-relative">
        <div class="col col-12 start-50 top-50 ">
            <h3> Your Application Has been Submitted.</h3>
            <h4>
                For transaction receipt download
                <a href="">Click here</a>
            </h4>
        </div>
    </div>
</section>



