@{
    ViewBag.Title = "Home Page";

}






<section class="row center ">
       
        @if (ViewBag.hasCreateApplication != null && ViewBag.hasCreateApplication)
        {
        <button class="btn btn-success btn-lg ">
                @Html.ActionLink("Create Application", "HouseholdInfo")
            </button>
        }
        @if (ViewBag.hasSearchApplication != null && ViewBag.hasSearchApplication)
        {
        <button class="btn btn-success btn-lg ">
                @Html.ActionLink("Search Application", "Search")
            </button>
            }
    </section>


@section Scripts {
    <script src="~/view-resources/home/index.js" asp-append-version="true"></script>
}
@section Styles {
    <link href="~/view-resources/home/index.css" rel="stylesheet" asp-append-version="true" />
}