@{
    ViewBag.Title = "Home Page";

}

<main>

 

    @if (ViewBag.hasCreateApplication != null && ViewBag.hasCreateApplication)
    {
        <section class="row">
            <p>
                <button class="btn btn-success btn-lg">
                    @Html.ActionLink("Create Application", "HouseholdInfo")


                </button>
            </p>
        </section>
    }

    @if (ViewBag.hasSearchApplication != null && ViewBag.hasSearchApplication)
    {
        <section class="row">
            <p>
                <button class="btn btn-success btn-lg">
                    @Html.ActionLink("Search Application", "Search")


                </button>
            </p>
        </section>
    }


</main>
@section Scripts {
}
@section Styles {
    <style>
        main {
            margin-top: 15%;
            margin-left: 20%;
        }

        a {
            color: #ffffff;
            text-decoration: auto;
        }
    </style>
}